html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

/*use max- width: 100% to prevent images and other content from overflowing*/
img, embed, object, video {
  max-width: 100%;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6, h7 {
  text-align: center;
}

header {
	color:#DCDCDC;
  background-color: #2F4F4F;
  text-align: center;
  margin-bottom: 100px;
}

/*Hero*/
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/business-clean-computer-389819.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/*PORTFOLIO*/
#portfolio {
  color:  #2F4F4F;
}

#portfolio h2 {
 margin: 100px 0;
}

.projects-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.project {
  width: 100%;
  color: #333;
  background-color: #dfe1e5;
  border: #2F4F4F 1px solid;
  padding: 10px;
  margin: 10px;
}

.project img {
  width: 100%;
}

/*CONTACT*/
#contact {
  margin-top: 100px;
	color:   #2F4F4F;
}

#contact h2 {
  margin: 100px 0;
}



/*FOOTER*/
footer {
	color: #333;
  background-color: #dfe1e5;
}

@media (min-width: 600px) {
  .project {
    width: 50%;
    width: calc(50% - 20px);
  }
}

@media (min-width: 1024px) {
  .project {
    width: calc(33.33% - 30px);
  }
}

@media (min-width: 1600px) {
  body {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*navigation*/ 
 
.navigation__list {
  list-style: none;
  text-align: right;
}

.navigation__list__item {
  display: inline-block;
  padding: 20px;
}
