body {
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

/*use max- width: 100% to prevent images and other content from overflowing*/
img, embed, object, video {
  max-width: 100%;
}

.main {

}

.wrapper {

}

header, #portfolio, #contact, footer {

}

h1, h2, h3, h4, h5, h6, h7 {
  margin: 10px;/*check this margin*/
  text-align: center;
}

header {
	color:   #DCDCDC;
  background-color: #2F4F4F;
  text-align: center;
}

header h1 {
  margin: 0 10px 5px 10px;
}

header h2 {
  margin: 5px 10px 10px 10px;
  padding-bottom: 10px;
}

/*PORTFOLIO*/
#portfolio {
	//color: #ddd;
  color:  #2F4F4F;
  //background-color: #0062d2;

}

#portfolio h2 {

}

.projects-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.project {
  box-sizing: border-box;
  width: 100%;
  color: #333;
  background-color: #dfe1e5;
}

/*CONTACT*/
#contact {
	color:   #DCDCDC;
  background-color: #2F4F4F;
}

#contact form {
  margin: 0 10px;
}

#contact form textarea{
  width: 100%;
  height: 100px;
}

#contact form input {
   width: 100%;
}

/*FOOTER*/
footer {
	color: #333;
  background-color: #dfe1e5;
}

@media (min-width: 600px) {
  body {

  }

  .project {
    width: 50%;
  }
}

@media (min-width: 800px) {
  body {
    
  }

  .main {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .project {
    width: 33.33%;
  }
}

